#select {
    background-color: rgb(29, 124, 248);
    width: 80px;
    height: 30px;
    border-radius: 3px;
    color: white;
    text-align: center;
}

#head-div {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

#finance-header {
    display: flex;
    gap: 15px;
}

#main-div {
    max-width: 100%;
    margin: 0 auto;
}

#footer {
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

body {
    padding: 30px;
    font-size: 15px;
}

th {
    background-color: rgb(29, 124, 248);
    color: white;
    padding: 20px;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
}

table {
    margin: 0;
    display: block;
    
}

table tr:nth-child(odd) td {
    background-color: white;
}

table tr:nth-child(even) td {
    background-color: whitesmoke;
}

